SUBSYSTEM=="dvb", TAG+="systemd"
SUBSYSTEM=="misc", KERNEL=="dbox/lcd[0-9]*", TAG+="systemd"
SUBSYSTEM=="misc", KERNEL=="sci[0-9]*", TAG+="systemd"
SUBSYSTEM=="misc", KERNEL=="tpm[0-9]*", TAG+="systemd"
SUBSYSTEM=="misc", KERNEL=="venc[0-9]*", TAG+="systemd"
SUBSYSTEM=="smc-class", KERNEL=="sci[0-9]*", TAG+="systemd"
